<!DOCTYPE html>
<html>
<head>
<title>forum.mods.de XML API Doku</title>
</head>
<body>
<h1>forum.mods.de XML API Doku</h1>

Basierend auf PM-Gesprächen mit enos aus 2011. 2012 verschollen. 2014 aus DB-Dump wiederhergestellt.

<ol>
{% for chapter in chapters %}
	<li><a href="#{{ chapter.title|urlencode }}">{{ chapter.title }}</a>
{% endfor %}
</ol>

{% for chapter in chapters %}
<section>
	<h2><a name="{{ chapter.title|urlencode }}" href="#{{ chapter.title|urlencode }}">{{ chapter.title }}</a></h2>	


	<p>{{ chapter.body|safe|nl2br }}</p>

	{% if chapter.params %}
	<table border="1">
	<tr>
		<th>HTTP-Keyword</th>
		<th>Name</th>
		<th>Beschreibung</th>
	</tr>
	{% for param in chapter.params %}
	<tr>
		<td>{{ param.method }}</td>
		<td>{{ param.title }}</td>
		<td>{{ param.body|safe }}</td>
	</tr>
	{% endfor %}
	</table>
	{% endif %}
</section>
{% endfor %}

</body>
</html>
